/* Tony's D3 Project Style Sheet */

body {
        /*Gradient Background*/
        background: #aeb3ae; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #aeb3ae 0%, #868294 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#aeb3ae), color-stop(100%,#868294)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(-45deg,  #aeb3ae 0%,#868294 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(-45deg,  #aeb3ae 0%,#868294 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(-45deg,  #aeb3ae 0%,#868294 100%); /* IE10+ */
        background: linear-gradient(135deg,  #aeb3ae 0%,#868294 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aeb3ae', endColorstr='#868294',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

div.content{
        font-family:'Varela Round', sans-serif;
        width:1126px;
        height: 500px;
        margin:20px auto;
        padding:15px;
        -webkit-border-radius: 25px;
        border-radius: 25px;
        color:#514154;
}

div.table1{
	    font-family:'Varela Round', sans-serif;
        width:255px;
        margin:25px auto;
        margin-right: 15px;
        padding:15px;
        background:#ffffff;
        -webkit-border-radius: 25px;
        border-radius: 20px;
        color:#514154;
        float: left;
}

div.table2{
	    font-family:'Varela Round', sans-serif;
        width:310px;
        margin:25px auto;
        margin-right: 15px;
        padding:15px;
        background:#ffffff;
        -webkit-border-radius: 25px;
        border-radius: 20px;
        color:#514154;
        float: left;
}

th {
	font-size: 14px;
	font-family:'Varela Round', sans-serif;
    font-weight: normal;	
}

td.department {
	font-size: 12px;
	width: 120px;
	padding: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

td.employee{
	font-size: 12px;
	width: 160px;
	padding: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

td.stat{
	font-size: 12px;
	width: 75px;
	text-align: right;
	padding: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

div.pie{
    font-family:'Varela Round', sans-serif;
    width:440px;
    margin:25px auto;
    padding:15px;
    background:#ffffff;
    -webkit-border-radius: 25px;
    border-radius: 20px;
    color:#514154;
    float: left;	
}

div.bar{
    font-family:'Varela Round', sans-serif;
    width:440px;
    margin:25px auto;
    padding:15px;
    background:#ffffff;
    -webkit-border-radius: 25px;
    border-radius: 20px;
    color:#514154;
    float: right;
}

h3 {
    font-size:14px;
    font-weight: normal;
    margin: 0 0 5px;
    padding:0 ;
}

select{
    margin-bottom: 15px;
}

ul {
    margin:15px 0 0;
    padding:0;
    list-style: none;
    font-size:14px;
    -moz-column-count:1; /* Firefox */
    -webkit-column-count:1; /* Safari and Chrome */
    column-count:1;
}

li {
    margin:0 0 5px;
    padding:0;
}

div.tooltip {
	position: absolute;
	text-align: left;
	width: 300px;
	height: 400px;
	padding: 8px;
	font: 14px sans-serif;
	background: #ddd;
	border: solid 1px #aaa;
	border-radius: 8px;
	pointer-events: none;
}

select.employee{
	width: 155px;
}
